@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply scrollbar scrollbar-track-gray-600 scrollbar-thumb-gray-900 dark:bg-black;
  }
  .navBtn {
    @apply hidden h-6 w-6 cursor-pointer text-gray-900 transition-all duration-150 ease-out hover:scale-125 dark:text-white md:inline-flex;
  }

  .postBtn {
    @apply h-7 cursor-pointer transition-all duration-150 ease-out hover:scale-125 dark:text-white;
  }
}

.instagram-logo {
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  background-image: url(https://bit.ly/3v2LT17);
}
